services:
  web:
    build: .
    container_name: application
    ports:
      - "800:800"
    depends_on:
      - db
  db:
    image: postgres
    container_name: db
    restart: always
    environment:
        POSTGRES_USER: user
        POSTGRES_PASSWORD: password
        POSTGRES_DB: Services
    ports:
        - "5432:5432"
    volumes:
        - postgres_data:/var/lib/postgresql


volumes:
  postgres_data:
